body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
	border: solid 5px color(srgb 0 0 0);
	background-color: #ccc72e;
	color: rgb(0, 0, 0);
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
	
}
	#logo-header:hover {
		color: #0b76a6;
	}

    #logo-header .logo img{

        display: block;

    }
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #4b475e;
				}

.HeadImg{

    margin-top: 25px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 750px;
}

#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 40px;
	}

#main-content .JorgeImg1{

    width: 300px;
    height: 225px;
    margin: 50px;
    
}

#main-content .Jorge{

    display: flex;

}

#main-content .txtJorge{

    align-self: center;

    margin-right: 100px;
    
    text-align: justify;

}

#main-content .LuciaImg1{

    width: 300px;
    height: 225px;
    margin: 50px;
    
}

#main-content .Lucia{

    display: flex;

}

#main-content .txtLucia{

    margin-left: 100px;

    align-self: center;

    text-align: justify;

}

#main-content .SamuelImg1{

    width: 300px;
    height: 225px;
    margin: 50px;
    
}

#main-content .Samuel{

    display: flex;

}

#main-content .txtSamuel{

    align-self: center;

    margin-right: 100px;
    
    text-align: justify;

}

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}